<h3 align="center">Sign Up</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="usersaveform" #saveuser (ngSubmit)="saveUser(saveUser)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control"  formControlName="name" data-toggle="tooltip"
                 data-placement="right" title="Enter Name" >
          <div class="alert alert-danger" *ngIf = "(userName.touched) && (userName.invalid)"
               style="margin-top: 5px;">
            <span *ngIf="userName.errors.required">Name is Required</span>
            <span *ngIf = "userName.errors.minlength">
                        MinLength Error
                    </span>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" formControlName="email"
                 data-toggle="tooltip" data-placement="right" title="Enter Email">
          <div class="alert alert-danger" *ngIf = "(userEmail.touched) && (userEmail.invalid)"
               style="margin-top: 5px;">
            <span *ngIf="userEmail.errors.required">Email is Required</span>
            <span *ngIf = "userEmail.errors.email">
                        Invalid Email Format
                    </span>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Phone</label>
          <input type="text" class="form-control"  formControlName="phone" data-toggle="tooltip"
                 data-placement="right" title="Enter Phone" >
          <div class="alert alert-danger" *ngIf = "(userPhone.touched) && (userPhone.invalid)"
               style="margin-top: 5px;">
            <span *ngIf="userPhone.errors.required">Name is Required</span>
            <span *ngIf = "userPhone.errors.minlength">
                        MinLength Error
                    </span>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" class="form-control" formControlName="password"
                 data-toggle="tooltip" data-placement="right" title="Enter Password">
          <div class="alert alert-danger" *ngIf = "(userPassword.touched) && (userPassword.invalid)"
               style="margin-top: 5px;">
            <span *ngIf="userPassword.errors.required">Password is Required</span>
            <span *ngIf = "userPassword.errors.email">
                        Invalid Password Format
                    </span>
          </div>
        </div>

        <div class="form-group">
          <label for="branch">Currency</label>
          <select class="form-control" formControlName="currency" data-toggle="tooltip"
                  data-placement="right" title="Select default currency">
            <option value="null">--Select Currency--</option>
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="RUB">RUB</option>
          </select>
        </div>

        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">
            <button type="submit" class="btn btn-success">Submit</button>
          </li>
          <li class="list-inline-item">
            <a routerLink="/login" class="btn btn-info">Sign In</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
