<h3 align="center">Sign In</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="loginform" #login (ngSubmit)="loginUser(loginUser)">
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" formControlName="email"
                 data-toggle="tooltip" data-placement="right" title="Enter Email">
        </div>

        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" class="form-control" formControlName="password"
                 data-toggle="tooltip" data-placement="right" title="Enter Password">
        </div>


        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">
            <button type="submit" class="btn btn-success">Submit</button>
          </li>
          <li class="list-inline-item">
            <a routerLink="/users" class="btn btn-info">Sign up</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
